<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta http-equiv="X-UA-Compatible" content="ie=edge" />
    <title><%= pageTitle %></title>
    <link rel="stylesheet" href="/css/main.css" />
    <link rel="stylesheet" href="/css/form.css" />
  </head>

  <body>
    <%- include('../partials/navigation.ejs') %>

    <main>
      <form class="login-form" action="/signup" method="POST">
        <input type="hidden" name="id" value="" />
        <div class="form-control">
          <label for="email">Email</label>
          <input type="email" name="email" id="email" value="" />
        </div>
        <div class="form-control">
          <label for="password">Password</label>
          <input type="password" name="password" id="password" value="" />
        </div>
        <div class="form-control">
          <label for="confirmPassword">Confirm Password</label>
          <input
            type="text"
            name="confirmPassword"
            id="confirmPassword"
            value=""
          />
        </div>
        <button type="submit">Signup</button>
        <input
          type="text"
          name="_csrf"
          value="<%= csrfToken %>"
          style="width: 325px"
        />
      </form>
    </main>

    <%- include('../partials/script.ejs') %>
  </body>
</html>
