.grid {
  display: grid;
  grid-template-columns: repeat(1, 1fr);
  gap: 50px;
  flex-wrap: wrap;
  justify-content: space-around;
  align-items: stretch;
}

@media (min-width: 576px) {
  .grid {
    grid-template-columns: repeat(2, 1fr);
  }
}

@media (min-width: 992px) {
  .grid {
    grid-template-columns: repeat(3, 1fr);
  }
}

/* @media (min-width: 1200px) {
  .grid {
    grid-template-columns: repeat(4, 1fr);
  }
} */
.card {
  box-shadow: 0 2px 8px rgba(0, 0, 0, 0.26);
  border-radius: 10px;
  padding: 0 10px;
  width: max-content;
}

.card__header,
.card__content {
  padding: 1rem;
}

.card__header h1,
.card__content h1,
.card__content h2,
.card__content p {
  margin: 0;
  text-align: center;
}

.card__image {
  display: flex;
  justify-content: center;
  width: 100%;
}

.card__image img {
  width: 250px;
  height: 250px;
  object-fit: cover;
  border-radius: 5px;
}

.card__actions {
  padding: 1rem;
  text-align: center;
}

.card__actions button,
.card__actions a {
  margin: 0 0.25rem;
}

.btn {
  display: inline-block;
  padding: 0.25rem 1rem;
  text-decoration: none;
  font: inherit;
  border: 1px solid #00695c;
  color: #00695c;
  background: white;
  border-radius: 3px;
  cursor: pointer;
}

.btn:hover,
.btn:active {
  background-color: #00695c;
  color: white;
}
