<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta http-equiv="X-UA-Compatible" content="ie=edge" />
    <title><%= pageTitle %></title>
    <link rel="stylesheet" href="/css/main.css" type="text/css" />
    <link rel="stylesheet" href="/css/card.css" type="text/css" />
  </head>

  <body>
    <%- include('../partials/navigation.ejs') %>

    <main>
      <h1>My Products</h1>
      <% if (products.length > 0) { %>

      <div class="grid">
        <% products.forEach((product) => { %> <%-
        include('../partials/card.ejs', {id: product._id, title: product.title,
        price: product.price, description: product.description, imageURL:
        product.imageURL }) %> <% }) %>
      </div>
      <%} else { %>
      <p>No Products</p>
      <% } %>
    </main>

    <%- include('../partials/script.ejs') %>
  </body>
</html>
